html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}

.page-header,
.greeting,
.cv-content,
.page-footer,
.page-nav {
  display: flex;

}

.page-header,
.greeting,
.cv-content,
.page-footer {
  flex-flow: row nowrap;
}

.page-nav {
  flex-flow: row wrap;
  justify-content: flex-end;
}

.page-header {
  justify-content: space-between;
  align-items: center;
}

.page-header__logo {
  display: block;
  cursor: pointer;
  background: url("img/logo.svg") no-repeat center;
  background-size: 80%;
  transform: rotate(-5deg);
  width: 240px;
  height: 45px;
}

.page-nav {
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 -30px 0 30px;
}

.page-nav__item {
  padding: 15px 0;
  margin-right: 30px;
}

.column-avatar {
  text-align: center;
}

.avatar {
  position: relative;
  z-index: 1;
  top: 70px;
  width: 65%;
  border: 15px solid #ffffff;
  filter: grayscale(1) contrast(1.1);
  transition-duration: 0.5s;
  transition-property: filter;
}

.avatar:hover {
  filter: none;
}

.page-footer {
  justify-content: center;
}

.column-left {
  width: 40%;
  order: 1;
}

.column-right {
  width: 60%;
  order: 2;
}

.column_dark {
  background: #000000;
}

.column_dark,
.column_dark a {
  color: #ffffff;
}

.column_light {
  background: #ffffff;
}

.column_light,
.column_light a {
  color: #000000;
}